@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@{
    int codeNumber = (int)ViewData["CodeNumber"];
    string randomCode = @Context.Session.GetString("RandomCode");
}

<h1>Código de acceso aleatorio nº @codeNumber</h1>
<h2>Código Aleatorio: @randomCode</h2>
<p><a asp-action="GenerateNewCode">Generar nuevo código</a>